body {
  background-color: #37251B;
  font-size: 20px;
  color: #f2f2f2;
}

h1 {
  text-align:center;
  color: #D2C1B0;
  padding-bottom: 50px;
}

h2 {
  text-align:center;
  color: #ECE0D1;
}

p {
  color: #ECE0D1;
}

a, a:visited, a:active {
  color: #ECE0D1;
  text-decoration: none;
}


a:hover {
  color: #f2f2f2;
}


#start-button { 
  background-color:#967259;
  padding: 10px;
  border: 1px solid #f2f2f2;
}


#responsePara {
  text-align:center;
  color: #ECE0D1;
}