body {
    background-color: $bg;
    background-image:url(assets/imgs/beans-after-1.png);
    background-size: auto;
    background-repeat: repeat-y;
    background-position-x: right;
    color: #f2f2f2;
    font-size: 20px;
    font-family: monospace;
  }
  
  h1 {
    text-align:center;
    color: #D2C1B0;
    padding-bottom: 50px;
    text-shadow: 3px 3px 1px #000;
  }
  
  h2 {
    text-align:center;
    color: #ECE0D1;
  }

  h3 {
    text-align:center;
  }
  
  p {
    color: #ECE0D1;
  }
  
  a, a:visited, a:active {
    color: #ECE0D1;
    text-decoration: none;
  }
  
  
  a:hover {
    color: #f2f2f2;
  }
  
  
  .starting-buttons { 
    background-color:#967259;
    padding: 10px;
    border: 1px solid #f2f2f2;
    text-align: center;
    justify-content:space-evenly;
    margin-bottom: 100px
  }
  
  
  .descriptiveText {
    text-align:center;
    color: #ECE0D1;
  }
  
  .countdown {
    text-align: center;
    color: #ECE0D1;
  }
  
  .selection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ECE0D1;
    width: 100%;
    margin: auto;
    margin-top: 10px;
  }
  
  .verticalButtons {
    flex-direction: column;
    justify-content: space-between;
    color: #ECE0D1;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    .locked {
      opacity: 0.6;
    }
  }
  
  
  button {
    color: $coffee-light;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#967259;
    padding: 15px;
    border: 1px solid #f2f2f2;
    width: 20%;
    margin: auto;
    cursor: pointer;
  }
  
  
  .hidden {
    display: none;
  }
  
  .shown {
    display: flex;
  }